web/WEB-INF/wsdl/localhost_8084/vlspoljar_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.vlspoljar.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.vlspoljar.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.vlspoljar.nwtis.foi.org/" schemaLocation="http://localhost:8084/vlspoljar_aplikacija_1/GeoMeteoWS?xsd=1" />
</xsd:schema>
</types>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese" />
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse" />
</message>
<message name="dajVazeceMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresu" />
</message>
<message name="dajVazeceMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresuResponse" />
</message>
<message name="dajSveMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresu" />
</message>
<message name="dajSveMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresuResponse" />
</message>
<message name="dajPosljednjihNZaAdresu">
<part name="parameters" element="tns:dajPosljednjihNZaAdresu" />
</message>
<message name="dajPosljednjihNZaAdresuResponse">
<part name="parameters" element="tns:dajPosljednjihNZaAdresuResponse" />
</message>
<message name="dajMeteoPodatkeUIntervalu">
<part name="parameters" element="tns:dajMeteoPodatkeUIntervalu" />
</message>
<message name="dajMeteoPodatkeUIntervaluResponse">
<part name="parameters" element="tns:dajMeteoPodatkeUIntervaluResponse" />
</message>
<message name="dajPrvihNAdresa">
<part name="parameters" element="tns:dajPrvihNAdresa" />
</message>
<message name="dajPrvihNAdresaResponse">
<part name="parameters" element="tns:dajPrvihNAdresaResponse" />
</message>
<portType name="GeoMeteoWS">
<operation name="dajSveAdrese">
<input wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajSveAdreseRequest" message="tns:dajSveAdrese" />
<output wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse" />
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuRequest" message="tns:dajVazeceMeteoPodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuResponse" message="tns:dajVazeceMeteoPodatkeZaAdresuResponse" />
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuRequest" message="tns:dajSveMeteoPodatkeZaAdresu" />
<output wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuResponse" message="tns:dajSveMeteoPodatkeZaAdresuResponse" />
</operation>
<operation name="dajPosljednjihNZaAdresu">
<input wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajPosljednjihNZaAdresuRequest" message="tns:dajPosljednjihNZaAdresu" />
<output wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajPosljednjihNZaAdresuResponse" message="tns:dajPosljednjihNZaAdresuResponse" />
</operation>
<operation name="dajMeteoPodatkeUIntervalu">
<input wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeUIntervaluRequest" message="tns:dajMeteoPodatkeUIntervalu" />
<output wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajMeteoPodatkeUIntervaluResponse" message="tns:dajMeteoPodatkeUIntervaluResponse" />
</operation>
<operation name="dajPrvihNAdresa">
<input wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajPrvihNAdresaRequest" message="tns:dajPrvihNAdresa" />
<output wsam:Action="http://serveri.ws.vlspoljar.nwtis.foi.org/GeoMeteoWS/dajPrvihNAdresaResponse" message="tns:dajPrvihNAdresaResponse" />
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajSveAdrese">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajPosljednjihNZaAdresu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajMeteoPodatkeUIntervalu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajPrvihNAdresa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/vlspoljar_aplikacija_1/GeoMeteoWS" />
</port>
</service>
</definitions>